.transaction-history {
  margin: 0 auto;
  width: 650px;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.5);
}

.transaction-history thead {
  border-radius: 5px;
}

.transaction-history thead > tr {
  background-color: aqua;
  border-bottom: 1px solid black;
}

.transaction-history tbody > tr {
  padding: 20px;
  background-color: #fff;
  border: 1px solid black;
}

.transaction-history thead > tr > th,
.transaction-history tbody > tr > td {
  padding: 20px;
}

.transaction-history tbody > tr:nth-child(2n + 1) {
  background-color: rgb(208, 196, 196);
}
